@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

select {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
